<%= form_with(model: dish, local: true) do |form| %>
  <% if dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :dish_description %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :dish_value %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time, id: :dish_time %>
  </div>
  <div class="field">
    <%= form.label :restaurant_id %>
    <%= form.select :restaurant_id, Restaurant.all.collect {|restaurant| [restaurant.name, restaurant.id]} %>
  </div>
 <div class="field">
    <%= form.label "Ingredients" %>
    <% Ingredient.all.each do |ingredient| %>
      <%= check_box_tag "dish[ingredient_ids][]", ingredient.id, @dish.ingredient_ids.include?(ingredient.id) %>
      <%= ingredient.description %>
    <% end %>
 </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
